<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joao.storemanagement.talent.purchase.mapper.PurchaseProductTypeMapper">

    <select id="selectNoByGuid" resultType="java.lang.String">
        SELECT [No]
        FROM dbo.ProductTypes
        WHERE GUID = #{typeGuid}
    </select>

</mapper>
